.page-header {padding:0;margin:0;}
.merk {
  display: none ;
  visibility: hidden ;}
.page-header img{padding:0;margin:0;}
.top-20{margin-top:35px;}
.hoofdpagina h1{font-size:45px;}
h3 {background-color:#bb171e;color:white;padding:5px;font-size: medium;}
.hoofdpagina{padding:10px;margin-top:40px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;}
#myNavbar{background-color: #bb171e;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-color:#620004 ;}
.navbar-btn{background-color:#620004 ;}
#myNavbar a {color:white;}
.active a{background-color: #620004;}
.nav li a {padding: 10px 7px;}
.well, .reactie {padding:10px;margin:10px 10px 0 10px;border:1px solid #bb171e;clear:both;}
#content-kop img {
margin-left:50px;margin-bottom:25px;}
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
  }
.panel-primary {height:170px;}
input.onderwerp
{
border:0px;
background-color:#FFFFFF;
color: #F0EEE1;
width:2px;}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
max-width : 500px;
	width: 100%;
}
.foto-groot
{
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
max-width : 367px;
	width: 100%;
	height:auto;
margin-bottom:15px;}
.reacties{width:75%;float:right;margin-right:5%;}
.form-group.required .control-label:after {
   content:"*";
   color:red;}
.nav-pills > li.active > a{background-color:#0F75BC;}
.btn-primary.active{background-color:#0F75BC;}
.form-horizontal {width:50%;color:gray;margin-left:25%}
.form-kop{width:50%;margin: 0 0 20px 25%;}
#artikel p{font-size:17px;margin-top:20px;}

#artikel table,td,tr,th{border:1px solid black;padding:5px;margin-top:20px;font-size:15px;}
caption {display: table-caption;color:black;font-size:15px;}
#kader {background-color:#F0EEE1;border:1px solid blue;padding:10px;margin:auto;width:90%;}
#artikel h1 {font-size:25px;}
#artikel h2{font-size:20px;}
#kol{width: 150px;}
.bedankt{background-color:#F0EEE1;}
#melding{border:2px solid red;padding:1%;margin-top:25px;margin-right:0;font-weight:bold;visibility:hidden;}
#factuuradres {padding: 10px;margin-bottom: 20px;}
.btnInschrijf {background-color:  #f1c30f ;box-shadow: #ffeb12 0px 0px 40px 0px;border:none;font-weight: bold;color: white;padding:10px;border-radius:10px;}
.btnInschrijf:hover  {background-color: #f7c708;}
 .btnInschrijf  {text-decoration: none;}
 .btnInschrijf:hover {text-decoration: none;color:white;}
 .btnInschrijf:active {text-decoration: none;color:white;}
 .btnInschrijf:visited {text-decoration: none;color:white;}
 .wl{background-color: white;}
 #tg{margin-top:30px;}
 #logo{margin-left:5%;}
 #submit{background-color: #f1c30f;border: none;font-weight: bold;}
