#content-kop a {font-weight:bold;}	
#content-kop p{color:black;font-size:17px;font-weight:normal;}
.active a {font-weight:bold;}


.merk {
display: inline ;
visibility: visible ;
font-weight: bold;
width: 80%;
}
.tg{width: 15%;}
.merk img {margin-top: 5px;width: 80%;}
.merk a{font-size:20px;padding:0;margin-top:10px;}
.merk a:link {color:#0F75BC;}
.merk a:visited {color:#0F75BC;}
.merk a:hover {color:#0F75BC;}
.merk a:active {color:#0F75BC;}

.page-header{
	display: none ;
  visibility: hidden ;
}

h1{font-size:25px;}
h2{font-size:20px;}

.hoofdpagina{margin:0;color:black;}
.hoofdpagina a{text-decoration: none;font-weight: bold;}
.hoofdpagina a:link{color:#05426e;text-decoration: none;}
.hoofdpagina a:hover{color:#05426e;text-decoration: none;}
.hoofdpagina a:visited{color:#05426e;text-decoration: none;}
.hoofdpagina a:active{color:#05426e;text-decoration: none;}

.panel-primary {height:auto;margin-top: 10px;}
.form-horizontal {width:100%;margin:0;}
.form-kop{width:100%;margin: 0 0 20px 0 ;border:1px solid black;font-size: 18pt;}
#kader {width:100%;}
.wel {width:100%;margin-left:0;margin-right:0;}
.container-fluid{width:100%;margin:0;padding:0;}
.foto {max-width: 100%;
  height: auto;}
.kolom-center{width:100%;}
.btnInschrijf {box-shadow: #ffeb12 0px 0px 15px 0px;}