body{font-size: medium; color:black;}



.merk {
display: inline ;
visibility: visible ;
font-weight: bold;
}
.merk img {margin-top: 5px;}
.merk a{font-size:20px;}

.merk a:link {color:#0F75BC;}
.merk a:visited {color:#0F75BC;}
.merk a:hover {color:#0F75BC;}
.merk a:active {color:#0F75BC;}



.page-header{

	display: none ;
  visibility: hidden ;
}

h2{font-size:20px;}

.jumbotron{margin:0;}
.panel-primary {height:auto;margin-top: 10px;}
